.container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  .image3{
      height: 240px;
      width: 260px;
  }

  input[type=text],[type=email] , [type=tel],select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical ; 
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  @media only screen and (min-width: 992px){
    .image3{
        height: 330px;
        width: 460px;
    }
    .container h2 {
        font-size: 40px;
    }
      
  }
  
 
  